// Medias querys
$breakpoints: ('xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts
$FiraSans: 'Fira Sans',
sans-serif;

$OpenSans: 'Open Sans',
sans-serif;

// General
$white: #fff;
$black: #000;
$contact: #161743;
$text: #0e0f3b;
$bcMision: #4a23de;
$bcVision:#692be6;
$orange: #DF8239;
$gradient: linear-gradient(45deg, #eb4a82 0%, #5225f8 100%);


// Slick
$arrow-color: #f50000;
$arrow-size: 25px;
$dots-color: gray;
$dots-color-active: #00b050;
$dots-size: 12px;